# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.cache/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.db
*.sqlite3

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ML/Models
*.joblib
*.pkl
*.pkl.z
.ipynb_checkpoints/
